@import url("style.css");

/* Ajustes específicos da página Sobre */

.about-text h2 {
  margin-bottom: 1rem;
}

.about-text p,
.about-description p {
  color: #ffffff;
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}
