@import url("style.css");

/* Ajustes específicos da página Suporte */

.support-main h2 {
  color: #182c57;
  margin-bottom: 1rem;
}

.support-main p {
  color: #4e5b73;
}

.support-item a {
  color: #344f91;
  font-weight: bold;
}

.support-item p {
  margin: 0;
  color: #4e5b73;
}
